.menu-nav {
  background-color: #fff;
  border-top: 1px solid #f0f0f0;

  position: sticky;
  top: 0;
  z-index: 1;
}

.menu-nav-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.menu-nav nav {
  display: flex;
  flex: 2 1 auto;
  position: relative;
  padding-right: 20px;
  font-size: 14px;
  font-weight: 400;
  color: #00aaa7;
  background: #fff;
}

.link-bar {
  flex: 1;
  height: 64px;
  overflow: hidden;
}

.link-bar a {
  display: inline-block;
  margin: 0 16px 0 0;
  padding: 25px 0;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: 14px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

.link-bar a:hover {
  opacity: 0.8;
}

.link-bar-grouped {
  min-width: 100px;
  text-align: right;
}

.link-bar-grouped a {
  display: inline-block;
  position: relative;
  margin-left: 0;
  padding: 25px 4px 25px;
  text-decoration: none;
  color: inherit;
  line-height: 14px;
}

.link-bar-grouped a::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 50%;
  margin-left: 5px;
  height: 6px;
  width: 6px;
  border-right: 2px solid #00aaa5;
  border-bottom: 2px solid #00aaa5;
  transform: rotate(45deg) translateY(-50%);
}
