.basket-wrapper {
  display: flex;
  flex: 0 0 100%;
  position: fixed;
  bottom: 0;
}

.basket {
  display: block;
  position: fixed;
  width: 100%;
  right: 0;
  bottom: 0;
  border-radius: 0 0 2px 2px;
  background-color: #fff;
  box-shadow: 0px 22px 24px 0px rgba(46, 51, 51, 0.07);
}

.basket-panel {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 8px;
}

.btn-basket {
  flex: 1 1 auto;
  align-self: flex-end;
  width: 100%;
  text-align: center;
}

.btn-disabled {
  padding: 16px;
  color: #8c9b9b;
  background: #bac3c3;
  pointer-events: none;
}

.btn-enabled {
  padding: 16px;
  color: #fff;
  background: #00ccbc;
  cursor: pointer;
}

.basket-content {
  position: relative;
}

.basket-content p {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.basket-empty {
  display: block;
  position: relative;
  padding: 32px 0 64px;
  color: #828585;
  font-family: "plex-sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  line-height: 1.4;
  font-size: 14px;
  text-align: center;
}

.basket-content-list,
.basket-footer {
  margin: 0 16px;
  padding-bottom: 24px;
}

.basket-item {
  display: flex;
  flex-direction: row;
  flex: 1 1 100%;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 24px;
  font-family: "plex-sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #2e3333;
}

.basket-item-name {
  flex-grow: 1;
  line-height: 1.3;
}

.quantity-control {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 56px;
  position: relative;
  margin-right: 16px;
}

.quantity-decrease,
.quantity-increase {
  cursor: pointer;
}

.basket-fees-container {
  padding: 0 24px 24px 24px;
}

.basket-fees-content {
  padding-top: 24px;
  border-top: 2px solid rgba(0, 0, 0, 0.08);
}

.basket-net-fees-item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex: 1 1 100%;
  padding-bottom: 4px;
  font-family: "plex-sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.4;
  color: #2e3333;
}

.basket-delivery-fees-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
}

.basket-footer {
  margin-bottom: 8px;
  padding: 12px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.08);
}

.basket-empty {
  position: relative;
  display: block;
  padding: 32px 0 64px;
  font-family: "plex-sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #828585;
  text-align: center;
}

.total {
  font-size: 16px;
  font-weight: 600;
}

.summary-container {
  width: 100%;
  min-height: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 16px;
  border-left: none;
  border-right: none;
  background-color: #fff;
  box-shadow: 0px -3px 6px -2px rgba(0, 0, 0, 0.07);
}
.summary {
  flex: 1 0 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 16px;
  cursor: pointer;
}

.summary span {
  font-weight: 400;
  color: #00a396;
}

.hide {
  display: none;
}

.hide-mobile {
  display: none;
}

.hide-desktop {
  display: block;
}

@media only screen and (min-width: 768px) {
  .basket-wrapper {
    position: relative;
    flex: 0 0 33%;
    bottom: none;
  }

  .basket {
    position: absolute;
    margin-right: -8px;
    bottom: initial;
    right: initial;
  }

  .hide-mobile {
    display: block;
  }

  .hide-desktop {
    display: none;
  }
}
