header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 16px;
  height: 60px;
  font-size: 16px;
  background: #fff;
}

.brand-name svg {
  width: 122px;
}

header nav {
  display: flex;
  font-size: 14px;
}

.brand-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 0;
  width: 100%;
}
