.card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: stretch;
  flex: 0 1 100%;
  position: relative;
  padding: 16px;
  font-weight: 300;
  border-top: 1px solid #e8ebeb;
  border-radius: 2px;
  background-color: #fff;
  color: #828585;
  transition: box-shadow 0.2s ease-in-out;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0px 22px 24px 0px rgba(46, 51, 51, 0.07);
}

.card-img {
  flex-shrink: 0;
  width: 96px;
  height: 96px;
  margin-top: 0;
  border-radius: 3px;
  margin-left: 16px;
  background-position: center;
  background-color: #e8ebeb;
  background-size: cover;
}

.card-content {
  flex-grow: 1;
  position: relative;
  margin-bottom: auto;
}

.card h6 {
  display: inline;
  font-size: 16px;
  line-height: 22px;
  color: #2e3333;
}

.card-quantity {
  display: inline-block;
  font-size: 14px;
  padding-right: 5px;
}

.card-description {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

.card-price {
  margin: 8px 8px 0 0;
}

.card-popular {
  display: inline-block;
  margin-top: 8px;
  background-repeat: no-repeat;
  background-position-y: 35%;
  font-size: 12px;
  color: #ff8100;
  font-weight: bold;
  padding-left: 16px;
}

.card-active::before {
  content: "";
  position: absolute;
  align-self: stretch;
  top: -1px;
  left: -1px;
  height: 100%;
  padding: 1px;
  border-radius: 2px;
  border-left: 4px solid #00ccbc;
  transform: scaleY(1);
  transition: transform 0.15s ease-in-out;
}

.card-inactive::before {
  content: "";
  position: absolute;
  align-self: stretch;
  top: -1px;
  left: -1px;
  height: 100%;
  padding: 1px;
  border-radius: 2px;
  border-left: 4px solid #00ccbc;
  transform: scaleY(0);
  transition: transform 0.15s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .card {
    margin-bottom: 16px;
    border: 1px solid transparent;
  }
}

@media only screen and (min-width: 980px) {
  .card {
    flex: 0 1 44%;
  }
}
