.element {
  flex: 0 1 100%;
}

section h3 {
  padding: 48px 0 16px 0;
  font-size: 28px;
  font-family: "Stratos Deliveroo Web";
  font-weight: 400;
}

.cards-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style-type: none;
}

@media only screen and (min-width: 768px) {
  .element {
    flex: 0 1 65%;
  }
}
