/* USE SYSTEM FONT */

/* overflow hidden must be applied to parents so their children take it into account */

body {
  font-size: 16px;
  font-family: var(--font-family-main);
  font-weight: var(--font-weight-title);
  font-style: var(--font-style-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f5f5;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 16px;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

.sections {
  margin-right: 16px;
}
